/* FILEPAT/C:/Users/tates/OneDrive/Desktop/CS270 Projects/ClassTests/style.css */

/* Reset default styles */

/* Add some basic styles */
body {
    margin: 0;
    background-color: lightgray;
  }


  .container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
   
   img {
     max-width: 100%;
     max-height:100%;
   }
   
   .text {
     font-size: 10px;
   }

  
  .section-red {
    background-color: lightcoral;
    color: white;
  }
  
  img {
    width: 10%;
    height: auto;  
  }
  
  p {
   margin: 10px; 
  }

/* Add more styles as needed */

/* 
<style>
body {
  margin: 0;
}

.section-blue {
  background-color: powderblue;
  color: black;
}

.section-green {
  background-color: lightgreen;
  color: black;
}

.section-red {
  background-color: lightcoral;
  color: white;
}

img {
  width: 10%;
  height: auto;  
}

p {
 margin: 10px; 
}
</style> */
